html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: #a5abae;
    margin: auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.header {
    background-color: #737373;
    padding: 10px;
    margin: 5px;
}

.header__text {
    color: #ffffff;
    text-align: center;
}



.container {
    overflow-x: auto;
    padding: 20px 0px;
}